/* Customization of the header at the top of the website */
header {
	background-color: var(--header-background);
	padding: 5px;
	justify-content: space-between;
}


body {
	background-color:#888484;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
}

* {
	box-sizing: border-box;
}
/* customziing the headers */
h1{
	padding-top:50px;
	padding-left: 5px;
	font-size:55pt;
font-family:'Segoe UI', Tahoma, Verdana, sans-serif, sans-serif;
text-align:center;
}


h2{
 
text-align:center;
font-size:40px;
}
/* aligning text */
.home{
font-family:'Segoe UI', Tahoma, Verdana, sans-serif, sans-serif;
text-align:center;
}
.subtitle{
font-size:30px;
text-align:center;
 
}


/* Inspiration for the Navigation bar was taken from work done by https://github.com/JurkiewiczCraig/a3web */

/* Customization of the navigation bar */
.navbar {
	overflow: hidden;
	background-color: var(--navbar-color);
	transition: .3s ease-in-out;
}

/* Customization of the links in the navigation bar */
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

/* Selects active class for current page */
.active {
	background-color: #3b3c3b;
	color: white;
}

/* Customization of the navigation bar dropdown */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Customization of the dropdown button */
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Customization of the navigation bar links when mouse hovers over them */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #3e4140;
	transition: 0.3s;
}

/* Customization of the navigation bar dropdown content */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #3c3838;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Customization of the links in the navigation bar dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
	/* Fade in animation for the drop down menu for several different browsers */
	animation-duration: 0.5s;
    animation-name: fadeInFromNone;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeInFromNone;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: fadeInFromNoneIE;
    -ms-animation-fill-mode: forwards;
}
	.dropdown-content a:visited {
		color: #3b444b ;

	}
/* Key frames animation webkit for older versions of chrome and safari */
@-webkit-keyframes fadeInFromNone {
    0% {opacity: 0}
    1% {opacity: 0}
    100% {opacity: 1}
}
/* Key frames animation for internet explorer */
@keyframes fadeInFromNoneIE {
    0% {opacity: 0}
    1% {opacity: 0}
	100% {opacity: 1}
}
/* Key frames animation for modern browsers that follow standard CSS specifications */
@keyframes fadeInFromNone {
    0% {opacity: 0}
    1% {opacity: 0}
    100% {opacity: 1}
}

/* Customization of the navigation bar dropdown text when mouse hovers over them */
.dropdown-content a:hover {
	background-color: #909494;
}

/* Shows the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	opacity: 1;
	visibility: visible; 
}

/* Responsive Design for the navigation bar, heighter max with threshold to prevent stacking */
@media screen and (max-width: 925px) {
	/* Selects navbar links and the drop btn class in dropdown class */
	.navbar a, .dropdown .dropbtn {display: none;}
	
	/* Selects all elements in the navbar and responsive class */
	.navbar.responsive {position: relative;}
	
	/* Selects links in both navbar and responsive class */
	.navbar.responsive a {
		float: none;
		display: block;
	  	text-align: left;
	}
	
	/* Selects dropdown in the navbar and responsive class */
	.navbar.responsive .dropdown {float: none;}
    	
	/* Selects dropdown content in the navbar and responsive class */
	.navbar.responsive .dropdown-content {
		position: relative;
		/* Dropdown stays open in responsive so user knows what page they are on - removing this line of code makes the dropdown work normally */
		display: block;
	}
	
	/* Selects dropdown button in the navbar and responsive class */
	.navbar.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
	
	/* Selects hamburger class (menu icon) */
	.hamburger {
		cursor: pointer;
		float: right;
		transition: ease-in-out.3s;
		position: relative;
		padding-right: 5px;
		display: block;
	}
	
	/* CSS for the 3 bars, adding a transition effect as well so when the animation is run there is a smooth transition */
	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
		transition: 0.3s;
	}
	
	/* Animation, where bars 1 and 3 will move to a 45 degree angle and the middle bar will disappear */
	.change .bar1 {transform: translate(0, 11px) rotate(-45deg);}
	.change .bar2 {opacity: 0;}
	.change .bar3 {transform: translate(0, -11px) rotate(45deg);}
}
/* two column layout whas inspired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_three_columns*/
.column {
	 float: left;
  width: 33.33%;
	border-radius: 25px;
 
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
/* stylizing the footer */
  footer{
	position:static;
	Background-color: grey;
	padding-top: 50px;
	padding-bottom: 50px;
  }
/* stylizing the button on the leaflet page to connect users to the leaflet map */
.leafletbutton{
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 0 auto;
	cursor: pointer;
	border-radius:25px;
	justify-content: center;
	align-items: center;
 
}
  .leafletbutton a:link, a:visited {
 border-radius: 25px;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: aliceblue;
  }
  
  .leafletbutton a:hover, a:active {
	background-color: rgb(64, 62, 62);
	  transition: .3s ease-in-out;
	  
  }
  
  .gallery{
	margin-top: 25px;
  }

/* Ashwin - style for dashboard images for desktop starts */
.dashimage{
    height: 800px;
    width: 1500px;
    border: none;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}
/* Ashwin - style for dashboard images for desktop ends */

/* Ashwin - style for dashboard images for mobile starts */
.dashimagemob{
    border: none;
	justify-content: center;
    align-content: center;
    padding-left: 600px;
    padding-right: 5px;
	padding-top: 50px;
	padding-bottom: 50px;
}
/* Ashwin - style for dashboard images for mobile ends */

/* Ashwin - style for dashboard button starts */
.container { 
	height: 200px;
	position: relative;
	border: 3px solid #a0a0a0; 
  }
  
  .center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

  .btn:link, .btn:visited {
	background-color: rgb(77, 77, 77);
	color: rgb(255, 255, 255);
	border: 2px solid rgb(201, 201, 201);
	padding: 15px 20px;
	margin: auto;
	align-content: right;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	justify-content: center;
  }
  
  .btn:hover, .btn:active {
	background-color: rgb(65, 119, 65);
	color: white;
  }
/* Ashwin - style for dashboard button ends */

/* Ashwin - style for dashboard writeups starts */
.steps{
	font-size: large;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 50px;
}
/* Ashwin - style for dashboard writeups ends */

/* Ashwin - style for dashboard table starts */
table.datab {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }
/* Ashwin - style for dashboard table ends */




  /*dennis's style for instant apps*/
  .inst_apps {
	display: flex;
	flex-direction: column;
  }
  
  .wrap {
	display: flex;
	flex-wrap: wrap;
  }
  
  .description {
	flex: 1;
	padding: 10px;
  }
  
  .map {
	flex: 1;
	padding: 10px;
  }
  
  .map img {
	max-width: 100%;
	height: auto;

  }
  
  .solutioncontainer {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	padding: 0 20px;
  }
  
  .positivepart,
  .negativepart,
  .featurepart {
	width: 30%;
	background-color: #aba6a6;
	border-radius: 4px;
	margin: 0 10px;
  }
  
  .partheader {
	background-color: #3b444b;
	color: #fff;
	padding: 0.5rem 1rem;
  }
  
  .positiveheader,
  .negativeheader,
  .featureheader {
	margin: 0;
  }
  
  .partcontent {
	padding: 1rem;
  }
  
  .partcontent ul {
	list-style-type: disc;
	padding-left: 1.5rem;
  }
  
  .button100 {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
  }
  
  .btn100 {
	background-color: #3b444b;
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	text-decoration: none;
	margin: 0 0.5rem;
  }
  
  .btn100:hover {
	background-color: #2c3338;
  }
/*Dennis's Style for instant apps ends*/

